# Environment mode are [DEVELOPMENT|PRODUCTION]
ENV_CONFIG=PRODUCTION

# Main Apps Config
# =================================
API_URL=
# =================================
DEV_API_URL=http://192.168.18.234

# PUSHER SERVER CONFIG
# =================================
PUSHER_URL=
PUSHER_KEY=
PUSHER_AUTH_URL=
# =================================
DEV_PUSHER_URL=ws://192.168.18.234:3131
DEV_PUSHER_KEY=
DEV_PUSHER_AUTH_URL=http://192.168.18.234/api/v1/pusher/auth
