<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35096208689-3bt4cvjfve2bolb6g17jqd3dm68vg4dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35096208689-3bt4cvjfve2bolb6g17jqd3dm68vg4dc</string>
	<key>API_KEY</key>
	<string>AIzaSyBGf1yj6rHpbH17nUEEheIGmiuJVy7h0Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>35096208689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rynest.aasi</string>
	<key>PROJECT_ID</key>
	<string>aasi-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>aasi-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35096208689:ios:83e4fc65e1035d0bbabc10</string>
</dict>
</plist>